.trendsContainer{
  display: flex;
  width: 90rem;
  height: 35.375rem;
  padding: 0rem 4.375rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
  flex-shrink: 0;
  background: #DC1E0F;
  margin: 5rem auto;
}

.title{
  color: #FFF;
  font-family: 'Roboto';
  font-size: 2rem;
  font-style: italic;
  font-weight: 800;
  padding-left: 1rem;
  line-height: 2rem; /* 100% */
  text-transform: uppercase;
}

.groupCircleIcons{
  display: none;
}


@media screen and (max-width: 800px){

  .trendsContainer{
    position: relative;
    display: flex;
    width: 22.5rem;
    height: 23.75rem;
    padding: 0rem;
    gap: 2rem;
    flex-shrink: 0;
    margin: 2.5rem auto;
  }

  .title{
    font-size: 1.5rem;
    padding: 0 1rem;
  }

  .groupCircleIcons{
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 8rem;
  }

}