.navContainer {
  position: absolute;
  top: -0.2rem;
  left: -0.2rem;
  display: flex;
  flex-direction: column;
  width: 23rem;
  height: 51rem;
  justify-content: flex-start;
  align-items: flex-start;
  background: #FFF;
  z-index: 3;
  transition: heigth 0.3s ease-out;
}

.logo{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.7rem 0.7rem 0 0.7rem;
  width: 22.5rem;
  height: 5.0625rem;
  flex-shrink: 0;
  border-bottom: 1px solid #000;
}

.title{
  color: #0F1E7B;
  font-family: 'Roboto';
  font-size: 2rem;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.2rem;
}

.lista{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 18.75rem;
  margin: 2.5rem auto;
  gap: 1.5rem;
}

ul.lista li{
  list-style: none;
  width: 100%;
  color: #5E5E5E;
  font-family: 'Roboto';
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.75rem 0;
  border-bottom: 1px solid #000;

}

ul.lista li:last-child{
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  color: #DC1E0F;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

@media screen and (max-width: 800px){


}