.processBuysContainer{
  display: flex;
  width: 90rem;
  padding: 2.5rem 9.375rem;
  justify-content: space-between;
  align-items: flex-start;
  background: #ECECEC;
  margin: auto;
  margin-top: 5.56rem;
}

.nav{
  display: none;
}

@media screen and (max-width: 800px){

  .processBuysContainer{
    width: 22.5rem;
    display: flex;
    padding: 2.5rem 0;
    align-items: flex-start;
    gap: 5rem;
    overflow: scroll;
  }

  .container{
    position: relative;
  }

  .nav{
    position: absolute;
    bottom: 0.8rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 0.5rem;
  }

  .nav a{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #000;
  }
  
  .active{
    background-color: #000;
  }
}
